#!/usr/bin/make -f

export DH_VERBOSE=1
export PREFIX=/usr

%:
	dh ${@}

override_dh_auto_build:
	dh_auto_build
	make docs

override_dh_auto_install:
	dh_auto_install
	make installman DESTDIR=$(DESTDIR) PREFIX=/usr/share
