#!/usr/bin/make -f

export DH_VERBOSE=1
export PREFIX=debian/syndicate-ug-tools

%:
	dh ${@}

override_dh_auto_build:
	make ug-tools
	make docs

override_dh_auto_install:
	make install
	make installman
